#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    flex-direction: column;
    height: 600px;
    gap: 20px;
}

#dico-table {
    width: 100%;
    height: 100%;
    margin: 0 0 10px 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    scrollbar-width: none;
    position: relative;
}

#dico-table thead tr,
#dico-table thead td {
    border: none;
    background-color: transparent;
}

#dico-table thead {
    background-color: transparent;
}

#dico-table tbody {
    overflow-y: scroll;
    width: 100%;
}

#dico-buttons button {
    width: fit-content;
    padding: 2px 6px 2px 6px;
}

.wrong-name {
    background-color: var(--errorColor);
}

#dico-close,
#dico-refresh {
    background-color: transparent;
    color: var(--fgColor);
    border: none;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#dico-close:hover,
#dico-refresh:hover {
    transform: scale(1.2);
}

#dico-close svg,
#dico-refresh svg {
    fill: var(--fgColor);
    width: 16px;
}

#dico-ctrl {
    position: absolute;
    display: flex;
    gap: 7px;
    z-index: 1;
    top: 5px;
    right: 10px;
}

.input-tooltip:before {
    content: attr(data-title);
    position: absolute;
    top: 150%;
    left: 50%;
    background: var(--bgColor);
    color: var(--fgColor);
    border: 1px solid var(--borderColor2);
    border-radius: 0.6em;
    z-index: 3;
    translate: -50% -2.5rem;
    white-space: pre-line;
    word-wrap: break-word;
    text-align: left;
    font-size: var(--font-size2);
    padding: 0.3rem 1rem;
    pointer-events: none;
    opacity: var(--label-opacity, 0);
    transform: scale(var(--label-scale, 0));
    transition: transform 300ms cubic-bezier(0.47, 1.64, 0.41, 0.8),
        opacity 300ms ease-in-out, scale 500ms ease-in-out;
    transition-delay: var(--label-delay, 0ms);
}

#dico-table thead {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor2);
}

#dico-table tfoot {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
}

#dico-main {
    width: calc(100% - 16px);
    height: calc(100% - 266px);
    padding: 8px;
}

#dico-main,
#dico-inputs {
    background-color: var(--bgColor);
    border-radius: 0.8em;
    background: var(--bgColorTertiary);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    outline: 1px solid var(--borderColor2);
    overflow: hidden;
    min-height: 24px;
}

#dico-inputs {
    width: calc(100% - 16px);
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

#dico-wrapper {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#dico-first-inputs {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 80px;
}
#dico-buttons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#dico-buttons button {
    color: var(--fgColor);
}

#dico-inputs input,
#dico-inputs textarea {
    height: 100%;
    background-color: transparent;
    color: var(--fgColor);
    padding: 0 0 0 10px;
    border-radius: 0.6em;
    box-shadow: 2px 2px 10px var(--fgColorSemiTransparent);
    background-color: var(--bgColor);
    margin: 2px 0 0 0;
    transform: translateX(0);
}

#dico-inputs textarea {
    font-family: Roboto, sans-serif;
    font-size: var(--font-size1);
    padding: 5px 0 0 5px;
}

#inputs-name {
    width: 100%;
}

#dico-inputs label {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: var(--font-size2);
}

#dico-first-inputs label {
    height: 100%;
    width: 100%;
}

#valid-inputs:hover {
    color: var(--warningColor);
}

#remove-inputs:hover {
    color: var(--errorColor);
}

.error-msg {
    color: var(--errorColor);
}

#dico-inputs input:focus,
#dico-inputs textarea:focus {
    outline: none;
    box-shadow: -2px -2px 10px var(--fgColorSemiTransparent);
}

#dico-inputs input::placeholder,
#dico-inputs textarea::placeholder {
    font-size: var(--font-size2);
    font-style: italic;
}

#dico-table th td {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-right: 0.1vw solid var(--borderColor2);
    margin-left: 1%;
    color: var(--fgColor);
    font-weight: 500;
}

#dico-table th td:last-child {
    border-right: none;
}

#dico-table thead tr {
    width: 95%;
    height: 40px;
    min-height: 3vw;
}

#dico-table thead tr td {
    margin: 0 0 0 5px;
}

#dico-table tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-selected {
    border: 1px solid var(--borderColor);
}

.wrong-input {
    animation: shake 0.2s ease-in-out;
    border: 1px solid var(--errorColor);
}

.correct-input {
    border: 1px solid transparent;
}

.good-name {
    background-color: var(--bgColorSecondary);
}

#dico-table tbody tr {
    padding: 5px;
    height: fit-content;
    margin: 5px 0 0 0;
    width: calc(100% - 17px);
    border-radius: 0.6em;
    cursor: pointer;
    position: relative;
}

#dico-table tbody tr td {
    word-break: break-all;
    cursor: pointer;
    color: var(--fgColor);
}

#dico-table tr td {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    cursor: text;
    font-size: var(--font-size2);
}

#dico-table thead tr td:nth-child(1),
#dico-table thead tr td:nth-child(2) {
    width: calc(25% - 5px);
    padding: 0 5px 0 0;
}

#dico-table tbody tr td:nth-child(1),
#dico-table tbody tr td:nth-child(2) {
    width: calc(25% - 12px);
    padding: 0 12px 0 0;
}

#dico-table tr td:nth-child(3) {
    width: 50%;
    border-right: none;
}

#dico-inputs button {
    border: none;
    border-radius: 0.6em;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px 6px 10px;
}

#dico-inputs button:not(:disabled) {
    cursor: pointer;
}

#dico-inputs button:hover {
    box-shadow: 0px 4px 10px var(--fgColorSemiTransparent);
}

#valid-inputs:disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: none;
}

#inputs-error {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    font-size: var(--font-size2);
}

#dico-inputs button svg {
    fill: var(--fgColor);
}

#dico-inputs input:nth-child(3) {
    width: calc(38% - 50px);
}

#dico-table tr.ajout {
    opacity: 0.75;
}

#dico-table tr td select.selectType {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--bgColor);
    color: var(--fgColor);
    font-size: var(--font-size2);
    cursor: pointer;
}

#dico-table > tr > td > select.selectType:hover {
    text-shadow: 0 0 0.5vw var(--fgColor);
}

@keyframes shake {
    0% {
        transform: translateX(-3px);
    }
    20% {
        transform: translateX(3px);
    }
    40% {
        transform: translateX(-3px);
    }
    60% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}
