.structure-iterative-non-bornee-element {
	display: flex;
	flex-direction: row;
	justify-content: center;
	place-items: center;
	width: fit-content;
	height: calc(var(--sizeModifier) * 4vw);
	transition: all var(--transitionTime) ease;
	z-index: 2;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	gap: 20px;
}

.structure-iterative-non-bornee-element > svg {
	width: calc(var(--sizeModifier) * 4vw);
	height: calc(var(--sizeModifier) * 4vw);
	fill: var(--fgColor);
}

.structure-iterative-non-bornee-element > div.informationsBornes {
	width: calc(var(--sizeModifier) * 16vw);
	height: 100%;
	font-size: calc(var(--sizeModifier) * 1vw);
	user-select: none;
}
